html,
body {
  height: 100%;
  width: 100%;
}
#map {
  height: 60%;
  width: 100%;
  display: flex;
}

#containerBox {
  padding: 1%;
  height: 33%;
  display: flex;
  align-items: center;
  justify-content: start;
}

#chartContainer {
  margin-top: -5%;
  height: 20vh;
  width: 30vw;
  display: inline;
  margin-right: 3%;
  margin-left: -10%;
}

.scoreBox {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  font-family: "Noto Serif KR", serif;
  font-weight: bolder;
}

.scoreIndex {
  word-break: keep-all;
  margin: 0% 2% 0% 2%;
}

#scoreContainer {
  display: flex;
  flex: auto;
  justify-content: center;
  flex-direction: row;
  padding: 0%;
}

button {
  font-family: "Noto Serif KR", serif;
  font-size: 1.3em;
  font-weight: bolder;
  background-color: rgba(250, 227, 153, 0.3);
  border-radius: 10%;
  margin-bottom: 5%;
  border: 0px;
}

#logo {
  height: 30%;
  float: right;
  margin: 12% 2% 0% 0%;
}

#infobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  text-align: center;
  width: 40%;
  position: relative;
  font-family: "Noto Serif KR", serif;
  font-size: 1.3em;
  font-weight: bolder;
}

#info_p {
}
#count_p {
}
